<div class="list_one_element" [routerLink]="['/',usage.id]">
  <img class="img_element" src="{{usage.photoPath}}" alt="img">
  <div class="text_element">
    <div class="rating">
      <div class="star" #star_1>&#9733;</div>
      <div class="star" #star_2>&#9733;</div>
      <div class="star" #star_3>&#9733;</div>
      <div class="star" #star_4>&#9733;</div>
      <div class="star" #star_5>&#9733;</div>
      <div class="rating_number"></div>
    </div>
    <p>{{usage.offerDescription}}</p>
  </div>
</div>
