.main_content {
  text-align: center;
  width: 80vw;
  height: 90vh;
  float: right;
  background: url("../../../../assets/images/main_back.jpg");
}
form {
  padding-top: 7vh;
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
  font-size: 1.2vw;
}
h2 {
  flex-basis: 100%;
  margin-bottom: 3vh;
}
.input {
  width: 80%;
  margin: 0 10%;
  padding: 2vh 2vw;
  margin-bottom: 2vh;
  background: #ffffff;
  border: 1px solid #000;
}
button {
  position: absolute;
  bottom: 12vh;
  display: inline-block;
  font-size: 1.2vw;
  padding: 1vh 2vw;
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .main_content {
    text-align: center;
    width: 100vw;
    height: 90vh;
    float: right;
    background: url("../../../../assets/images/main_back.jpg");
  }
  form {
    padding-top: 7vh;
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
  }
  h2 {
    flex-basis: 100%;
    margin-bottom: 3vh;
  }
  .input {
    width: 90%;
    margin: 0 5%;
    padding: 2vh 2vw;
    font-size: 1rem;
    margin-bottom: 2vh;
    background: #ffffff;
    border: 1px solid #000;
  }
  button {
    position: absolute;
    bottom: 12vh;
    left: 40%;
    display: inline-block;
    font-size: 1rem;
    padding: 1vh 2vw;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) and (max-width: 988px){
  .main_content {
    text-align: center;
    width: 100vw;
    height: 90vh;
    float: right;
    background: url("../../../../assets/images/main_back.jpg");
  }
  form {
    padding-top: 7vh;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
    font-size: 2rem;
  }
  h2 {
    flex-basis: 100%;
    margin-bottom: 3vh;
  }
  .input {
    width: 80%;
    margin: 0 10%;
    font-size: 2rem;
    padding: 2vh 2vw;
    margin-bottom: 2vh;
    background: #ffffff;
    border: 1px solid #000;
  }
  button {
    position: absolute;
    bottom: 12vh;
    left: 40%;
    display: inline-block;
    font-size: 2rem;
    padding: 1vh 2vw;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
  }
}
