<section class="main_reg_container">
  <form class="index_content">
    <h1>Реєстрація</h1>
    <label class="label">Введіть логін:</label>
    <input class="input" type="text" (input)="validateName(nameInput)" placeholder="Nickname" #nameInput>

    <label class="label">Введіть e-mail:</label>
    <input class="input" type="text" (input)="validateMail(emailInput)" placeholder="E-mail" #emailInput>

    <label class="label">Введіть номер телефону:</label>
    <input class="input" type="number" name="phone" (input)="validatePhone(phoneInput)" placeholder="Номер" #phoneInput>

    <label class="label">Виберіть колір:</label>
    <input class="input" type="color"  name="color" #colorId>

    <label class="label">Введіть пароль:</label>
    <input class="input" type="password" (input)="validatePassword(passwordInput)" placeholder="Password" #passwordInput>

  </form>
  <button class="enter" #signupButton (click)="signUp(colorId)">Зареєструватися</button>
</section>
