.main_reg_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /*background: url("../../assets/images/main_backg.jpg");*/
  display: flex;
  background: url("../../assets/images/main_back.jpg");
  justify-content: center;
  align-items: center;
}
.index_content {
  width: 45vh;
  height: auto;
  padding-bottom: 6vh;
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

h1 {
  color: #fff;
  display: block;
  margin: auto;
  margin: 3vh;
  font-size: 1.5vw;
  text-transform: uppercase;
}
.label {
  width: 80%;
  overflow: hidden;
  text-align: left;
  margin-left: 1.8vw;
  margin-bottom: .1vh;
  height: 3vh;
  display: block;
  font-size: 1vw;
  color: #ffffff;
}
.input {
  width: 80%;
  overflow: hidden;
  padding: 1vh 1vw;
  margin: auto;
  margin-bottom: 3vh;
  height: 3vh;
  display: block;
  font-size: 1.2vw;
  border-radius: 20px;
}

.pass {
  display: block;
  margin: auto;
  text-align: left;
  width: 90%;
  font-size: 1.2vw;
  margin-bottom: 15vh;
  margin-left: 2vw;

}

.enter {
  padding: 1vh 2vw;
  background: #fff;
  color: #000;
  font-size: .8vw;
  /*border: 1px solid #fff;*/
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 20px;
  position: absolute;
  bottom: 17vh;
}

.enter:hover {
  background: #000000;
  color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .index_content {
    width: 100vh;
    height:   100vh;
    background: rgba(0, 0, 0, .5);
    border-radius: 0;
    text-align: center;
    position: relative;
  }

  h1 {
    color: #fff;
    display: block;
    margin: auto;
    margin: 6vh;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .input {
    width: 90%;
    overflow: hidden;
    padding: 1vh 3vw;
    margin: auto;
    margin-bottom: 4vh;
    height: 3vh;
    display: block;
    font-size: 1rem;
    border-radius: 20px;
  }
  .label {
    width: 80%;
    overflow: hidden;
    text-align: left;
    margin-left: 5vw;
    margin-bottom: .1vh;
    height: 3vh;
    display: block;
    font-size: .8rem;
    color: #ffffff;
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }

  .pass {
    display: block;
    margin: auto;
    text-align: left;
    width: 90%;
    font-size: 1rem;
    margin-bottom: 10vh;
    margin-left: 5vw;

  }

  .enter {
    padding: 1vh 4vw;
    background: #fff;
    color: #000;
    font-size:1rem;
    /*border: 1px solid #fff;*/
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-radius: 20px;
  }
}

@media  screen and (min-width: 768px) and (max-width: 988px){
  .index_content {
    width: 100vh;
    height:   100vh;
    background: rgba(0, 0, 0, .5);
    border-radius: 0;
    text-align: center;
    position: relative;
  }

  .index_content {
    width: 100vh;
    height:   100vh;
    background: rgba(0, 0, 0, .5);
    border-radius: 0;
    text-align: center;
    position: relative;
  }

  h1 {
    color: #fff;
    display: block;
    margin: auto;
    margin: 8vh;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  .label {
    width: 80%;
    overflow: hidden;
    text-align: left;
    margin-left: 5vw;
    margin-bottom: .5vh;
    height: 3vh;
    display: block;
    font-size: 1.8rem;
    color: #ffffff;
  }

  .input {
    width: 90%;
    overflow: hidden;
    padding: 1vh 3vw;
    margin: auto;
    margin-bottom: 6vh;
    height: 3vh;
    display: block;
    font-size: 2rem;
    border-radius: 20px;
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }

  .pass {
    display: block;
    margin: auto;
    text-align: left;
    width: 90%;
    font-size: 2rem;
    margin-bottom: 15vh;
    margin-left: 5vw;

  }

  .enter {
    padding: 1vh 5vw;
    background: #fff;
    color: #000;
    font-size:2rem;
    /*border: 1px solid #fff;*/
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-radius: 20px;
    bottom: 3vh;
  }
}
