/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: "Century Gothic";
}
a {
  font-family: "Century Gothic";
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 1vw; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);

}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.6);
}
