<div [routerLink]="'/'+usage.id" class="list_one_element">
  <img class="img_element" src="{{url+usage.photoPath}}" alt="img">
  <div class="text_element">
    <div class="rating">
      <div class="star" (click)="incrementVoices(1,usage.id)" #star_1>&#9733;</div>
      <div class="star" (click)="incrementVoices(2,usage.id)" #star_2>&#9733;</div>
      <div class="star" (click)="incrementVoices(3,usage.id)" #star_3>&#9733;</div>
      <div class="star" (click)="incrementVoices(4,usage.id)" #star_4>&#9733;</div>
      <div class="star" (click)="incrementVoices(5,usage.id)" #star_5>&#9733;</div>
      <div class="rating_number"></div>
      <div class="star_text" title="Додати в улюблені" (click)="addUsage()">+</div>
    </div>
    <p>{{usage.offerDescription}}</p>
  </div>
</div>
