<div class="left_side" #menu>
  <div class="user_info">
    <span class="user_name">{{user.name}}</span>
    <span class="user_email">{{user.email}}</span>
  </div>
  <ul class="navigation">
    <li><a [routerLink]="'manage_usage'">{lang, select, ua{Керування подіями} ru {Управление событиями}}</a></li>
    <li><a [routerLink]="'save_usage'">{lang, select, ua{Збережені події} ru {Сохраненные события}}</a></li>
    <li><a [routerLink]="'/'">{lang, select, ua{Головна} ru {Главная}}</a></li>
  </ul>
  <div class="close_menu" #close (click)="hideComponent()">x</div>
</div>
  <div class="menu" #show (click)="showComponent()">Меню</div>
