<div class="container_message" *ngIf="user.name == message.userName"
     [ngStyle]="{'float':'right', 'border':'1px solid '+color}">
  <p class="container_message_name"><strong>{{message.userName}}</strong> <a href="#" (click)="retort()">{lang, select,
    ua{поскаржитися}
    ru{пожаловаться}}</a>
  </p>
  <p class="container_message_message">message: {{message.message}} </p>
  <p *ngIf="user.name == message.userName" class="data">date: {{message.date}} </p>

</div>

<div class="container_message_left" *ngIf="user.name != message.userName"
     [ngStyle]="{'float':'left', 'border':'1px solid '+color}">
  <p class="container_message_name"><strong>{{message.userName}}</strong> <a href="#" (click)="retort()">{lang, select,
    ua{поскаржитися}
    ru{пожаловаться}}</a>
  </p>
  <p class="container_message_message">message: {{message.message}} </p>
  <p *ngIf="user.nickName != message.userName" class="data_left">date: {{message.date}} </p>

</div>


