
.container_message {
  background: linear-gradient(to left top, #BCBCBC, #E3E3E3);
  width: 45%;
  display: block;
  margin-left: 39%;
  margin-top: 1vh;
  margin-bottom: 2vh;
  padding: 1vh;
  text-align: left;
  border-radius: 10px;

  /*border: #000000 solid 1vh;*/
}
.star {
  font-size: 1.2vw;
  color: yellow;
  display: inline-block;
  vertical-align: top;
}
.container_message_message {
  word-wrap: break-word;
  word-break: break-all;
  text-align: left  ;
}

.data {
  float: left;
  margin-top: 1vh;
}

.container_message_name {
  margin-bottom: 1vh;
}
.data_left{
  float: right;
  margin-top: 1vh;
}
.container_message_left{
  background: linear-gradient(to left top, #BCBCBC, #E3E3E3);
  width: 45%;
  display: block;
  margin-right: 39%;
  margin-top: 1vh;
  padding: 1vh;
  margin-bottom: 2vh;
  border-radius: 10px;
  margin-left: 2%;
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .container_message {
  background: linear-gradient(to left top, #BCBCBC, #E3E3E3);
  width: 75%;
  display: block;
  margin-left: 39%;
  margin-top: 1vh;
  margin-bottom: 2vh;
  padding: 1vh;
  text-align: left;
  border-radius: 10px;
  font-size: .8rem;

  /*border: #000000 solid 1vh;*/
}

.container_message_message {
  word-wrap: break-word;
  word-break: break-all;
  text-align: left  ;
}

.data {
  float: left;
  margin-top: 1vh;
}

.container_message_name {
  margin-bottom: 1vh;
}
.data_left{
  float: right;
  margin-top: 1vh;
}
.container_message_left{
  background: linear-gradient(to left top, #BCBCBC, #E3E3E3);
  width: 75%;
  display: block;
  margin-right: 39%;
  margin-top: 1vh;
  padding: 1vh;
  margin-bottom: 2vh;
  border-radius: 10px;
  margin-left: 2%;
  font-size: .8rem;

}
}
@media screen and (min-width: 768px) and (max-width: 988px){
  .container_message {
    background: linear-gradient(to left top, #BCBCBC, #E3E3E3);
    width: 45%;
    display: block;
    margin-left: 39%;
    margin-top: 1vh;
    margin-bottom: 2vh;
    padding: 1vh;
    text-align: left;
    border-radius: 10px;
    font-size: 1rem;

    /*border: #000000 solid 1vh;*/
  }

  .container_message_message {
    word-wrap: break-word;
    word-break: break-all;
    text-align: left  ;
  }

  .data {
    float: left;
    margin-top: 1vh;
  }

  .container_message_name {
    margin-bottom: 1vh;
  }
  .data_left{
    float: right;
    margin-top: 1vh;
  }
  .container_message_left{
    background: linear-gradient(to left top, #BCBCBC, #E3E3E3);
    width: 45%;
    display: block;
    margin-right: 39%;
    margin-top: 1vh;
    padding: 1vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    margin-left: 2%;
    font-size: 1rem;

  }
}
